body {
        background-color: #f7f9f9;
}

#logo{
	background: url('../img/matthewleak-logo.png') no-repeat;
	height: 0;
	width: 0;
	padding: 110px 0 0 110px;
	display: block;
	overflow: hidden;
	margin: 30px auto;
}

h2{
	color: #282829;
	font-family: Times New Roman, serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 21px;
	margin: 30px 15px;
	text-align: center;
	text-shadow: 1px 1px 0px #fff;
	text-transform: uppercase;
}

#home ul.links{
	margin: 0 15px 30px 15px;
}

#home ul.links li{
	background: url('../img/arrow.png') right center no-repeat;
	border-bottom: 1px dotted #bababa;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	list-style: none;
	text-transform: uppercase;
	width: 100%;
	padding: 20px 0 20px 0;
}

#home ul.links li a{
	color: #282829;
	font-weight: bold;
	text-decoration: none;
	padding: 0 100px 0 0;
}